<div class="homepage">
    <div class="jumbotron text-center bg-dark text-white py-5">
      <h1 class="display-4">Bem-vindo ao GameCritic!</h1>
      <p class="lead">Descubra, avalie e compartilhe experiências sobre seus jogos favoritos.</p>
    </div>
  
    <div class="container my-5">
      <h2 class="text-center mb-4">Destaques</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="https://cdn-icons-png.flaticon.com/512/159/159320.png" class="mb-3" alt="Jogos Populares" width="100">
          <h5>Jogos Populares</h5>
          <p>Descubra os jogos mais populares e bem avaliados pela comunidade.</p>
        </div>
        <div class="col-md-4">
          <img src="https://cdn-icons-png.flaticon.com/512/107/107230.png" class="mb-3" alt="Avaliações" width="100">
          <h5>Suas Avaliações</h5>
          <p>Contribua com suas opiniões e ajude outros jogadores a escolherem o melhor.</p>
        </div>
        <div class="col-md-4">
          <img src="https://cdn-icons-png.flaticon.com/256/14/14598.png" class="mb-3" alt="Comunidade" width="100">
          <h5>Comunidade Gamer</h5>
          <p>Participe de uma comunidade apaixonada por jogos e faça parte das discussões.</p>
        </div>
      </div>
    </div>
  
    <div class="text-center py-5 bg-light">
      <h2>Pronto para mergulhar no mundo dos jogos?</h2>
      <a routerLink="/jogos" class="btn explore-btn">EXPLORE OS JOGOS</a>
    </div>
  </div>
  